
.header{
  margin: 35px 50px 10px 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
  margin: 30px 110px 40px 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}


.card2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px 110px 35px 100px;
}

.form-control{
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}
.button{
  margin-left: 90%;
  font-family: Georgia, 'Times New Roman', Times, ser
}
